{% extends 'base.html.twig' %}



{% block title %}
    {{ parent () }} | About-us
{% endblock %}
{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ducimus ea error quo quod recusandae totam
        voluptas.
        Eius eos incidunt provident rerum saepe sed! Deleniti eveniet illum iste reiciendis voluptate?
        A assumenda beatae commodi delectus eius et harum, id inventore iusto laudantium libero necessitatibus neque
        officia quas quasi
        qui reiciendis sit sunt suscipit tenetur ullam velit veniam veritatis voluptates voluptatibus!
        Adipisci animi asperiores assumenda consectetur corporis distinctio earum id ipsam itaque iure magni modi natus
        numquam obcaecati rerum
        suscipit tempore ut veniam, vitae voluptas. Amet aut culpa eum omnis optio.
        At, culpa, voluptatum? Explicabo iusto perspiciatis qui quis quisquam sunt tenetur veniam! Delectus et impedit
        inventore ipsa mollitia
        natus officia perspiciatis quibusdam sed? Alias, est fugiat necessitatibus nihil quidem sequi.
        Aperiam architecto commodi dolore ea eligendi esse facere, inventore iusto laboriosam, libero maiores modi
        nostrum
        officiis omnis perspiciatis quae quod quos sapiente soluta temporibus totam vel vero voluptatum. Commodi,
        illum!</p>
{% endblock %}