{% extends 'base.html.twig' %}


{% block title %}
    List !
{% endblock %}

{% block body %}
    <h2>Liste des choses à faire dans sa vie</h2>



            {% for wish in wishes %}
    <article>
                <a href="{{ path('wish_show', {'id': wish.id}) }}">
                   <p> {{ wish.title }} . Dans la catégorie : {{ wish.category.name}}</p>
                </a>
        <br>

    </article>
            {% endfor %}


{% endblock %}